[Unit]
Description=Python service
After=multi-user.target apache2.service
[Service]
User=root
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/Documents/piAtticFan/
ExecStart=/usr/bin/python3 /home/pi/Documents/piAtticFan/fan_control.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s
[Install]
WantedBy=multi-user.target