<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <meta charset="UTF-8">
    <title>Attic Fan</title>
    <meta name='viewport' content='width=400'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="192X192" href="/android.png">
    <link REL="SHORTCUT ICON" href="/favicon.ico">
</head>
<body>
    <table>
        <tr><td>Status:</td><td><div id="status">{{ status }}</div></td></tr>
        <tr><td>Time Remaining:</td><td><div id="clock">{{ time }}</div></td></tr>
    </table>

    <script>
    $(document).ready(function() {
        $.ajaxSetup({ cache: false });
        setInterval(function() {
         $('#status').load('/status/');
         $('#clock').load('/clock/');
       }, 1000);
    });
    </script>

    <a href="/start/?time=15">15 Second Timer</a><br>
    <a href="/start/?time=30">30 Second Timer</a><br>
    <a href="/stop/">Stop Fan</a><br>
</body>
</html>