<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <meta charset="UTF-8">
    <title>Attic Fan</title>
    <meta name='viewport' content='width=330'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="192X192" href="/android.png">
    <link REL="SHORTCUT ICON" href="/favicon.ico">
</head>
<H1 style="text-align: center">Attic Fan Control</H1>
<body style="font-family: Arial">
    <table style="border: 1px solid black; margin-left: auto; margin-right: auto; padding: 10px">
        <tr><td style="width: 80px">Status:</td>
            <td style="width: 220px"><div id="status">{{ status }}</div></td>
        </tr>
        <tr><td>Time Remaining:</td><td><b><div id="clock">{{ time }}</div></b></td></tr>
    </table>

    <script>
    $(document).ready(function() {
        $.ajaxSetup({ cache: false });
        setInterval(function() {
         $('#status').load('/status/');
         $('#clock').load('/clock/');
       }, 1000);
    });
    </script>
    <br>
        <table style="border: 1px solid black; margin-left: auto; margin-right: auto; padding: 10px">
            <form action="/start/">

            <tr>
                <td style="text-align: right; width: 150px">Run Time:</td>
                <td style="width: 150px">
                    <select name="time" id="time" style="width: 100px;">
                        <option value="1800">0:30</option>
                        <option value="3600" selected="selected">1:00</option>
                        <option value="5400">1:30</option>
                        <option value="7200">2:00</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    Delay:
                </td>
                <td>
                    <select name="delay" id="delay" style="width: 100px">
                        <option value="0">None</option>
                        <option value="3600">1 Hour</option>
                        <option value="7200">2 Hours</option>
                        <option value="10800">3 Hours</option>
                        <option value="14400">4 Hours</option>
                        <option value="18000">5 Hours</option>
                        <option value="21600">6 Hours</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    Speed:
                </td>
                <td>
                    <select name="speed" id="speed" style="width: 100px">
                        <option value="0">High</option>
                        <option value="1">Low</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;" colspan="2">
                    <input type="submit" value="Set Program">

                </td>
            </tr>
    </form>
    </table>
    <br>
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <td><a href="/stop/"><img src="/img/stop.png"></a></td>
        </tr>
    </table>
</body>
</html>